* {
   /* outline: 1px solid red !important; */
}

/*
Block elements will have padding and
border included in the element's
total width and height
*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family:
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
}

/*
Make HTML 5 elements display
block-level for consistent styling
*/
header,
section,
footer,
aside,
nav,
main,
article,
figure,
figcaption {
    display: block;
}

/*
Prevent images and other objects
from overflowing parent
*/
img,
embed,
object,
video {
    max-width: 100%;
}

body {
  color: #202f3a;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

/* ========== GLOBAL CLASSES ========== */
.contain-450 {
  max-width: 450px;
  margin: 0 auto;
}

.contain-700 {
  max-width: 700px;
  margin: 0 auto;
}

.contain-960 {
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.bold {
  font-weight: bold;
}

.shadow {
  box-shadow: 10px 10px 25px 0px rgba(46,61,73,0.2);
  overflow: hidden;
  -webkit-transition: box-shadow 2s; /* Safari */
  transition: box-shadow .3s;
}

/* ========== COLORS ========== */

/* Color palette: https://flatuicolors.com/palette/us */


/* ========== GENERAL STYLES ========== */
header {
  text-align: center;
}
header h1 {
  font-size: 4rem;
  margin-bottom: 0;
}
header h2 {
  margin-top: 0;
  margin-bottom: 2rem;
}

#scoreboard-container {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  border-radius: .5rem;
  padding: 0;
  margin: 1rem;
}

.scoreboard-item {
  width: 33%;
  height: 50px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.scoreboard-item p {
  width: 100%;
  height: 100%;
  text-align: center;
}

.refresh-btn {
  display: inline-block;
  padding: .75rem;
  border: 1px #202f3a solid;
  border-radius: .25rem;
  cursor: pointer;
}

#box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background: #202f3a;
  padding: 0;
  margin: 1rem;
  border-radius: .5rem;
}

.card {
  flex-grow: 1;
  background-color: #dfe6e9;
  color: white;
  list-style: none;
  margin: 2%;
  width: 18%;
  padding-top: 18%;
  border-radius: .5rem;
  position: relative;
  cursor: pointer;
}

.card div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 105%;
  width: 105%;
  text-align: center;
  border-radius: .5rem;

}

.card .front {
  visibility: visible;
}

.card .back {
  visibility: hidden;
  background-color: #0984e3;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#result-alert {
  background: rgba(61, 61, 68, 0.85);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
}

.result-message {
  background: white;
  width: 75%;
  min-height: 50%;
  margin-top: 10%;
  border-radius: .5rem;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

#lego-face {
  max-width: 100px;
}

.result-message h1 {
  font-size: 3rem;
  margin: 0 0 1rem 0;
}

#score-stars {
  font-size: 2.5rem;
  margin: 0;
}

#restart {
  background-color: #74b9ff;
  color: white;
  border-radius: .5rem;
  width: 50%;
  cursor: pointer;
}

footer {
  margin-top: 3rem;
  padding: 1rem;
  color: white;
  background-color: #202f3a;
  text-align: center;
}

/* ========== TABLET  ========== */
@media screen and (max-width: 550px) {
  .card .back {
    font-size: 1rem;
  }
}

/* ========== MOBILE  ========== */
@media screen and (max-width: 350px) {
  .card .back,
  .result-message {
    font-size: .75rem;
  }
}
