* {
   /* outline: 1px solid red !important; */
}

/*
Block elements will have padding and
border included in the element's
total width and height
*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family:
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
}

/*
Make HTML 5 elements display
block-level for consistent styling
*/
header,
section,
footer,
aside,
nav,
main,
article,
figure,
figcaption {
    display: block;
}

/*
Prevent images and other objects
from overflowing parent
*/
img,
embed,
object,
video {
    max-width: 100%;
}

body {
  color: #424242;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

/* ========== GLOBAL CLASSES ========== */
.contain-700 {
  max-width: 700px;
  margin: 0 auto;
}

.contain-960 {
  max-width: 960px;
  margin: 0 auto;
}

.contain-1200 {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.bold {
  font-weight: bold;
}

.moving-shadow {
  box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2);
  border-radius: .375rem;
  overflow: hidden;
  -webkit-transition: box-shadow 2s; /* Safari */
  transition: box-shadow .3s;
}

.moving-shadow:hover {
  box-shadow:  1px 1px 7px 0 rgba(46,61,73,0.2);
}

.shadow {
  box-shadow: 10px 10px 25px 0px rgba(46,61,73,0.2);
  overflow: hidden;
  -webkit-transition: box-shadow 2s; /* Safari */
  transition: box-shadow .3s;
}

/* ========== COLORS ========== */
.blue {
  color: #34d4fe
}

.blue-background {
  background-color: #34d4fe
}

/* ========== GENERAL STYLES ========== */
header {
  /* background-color: goldenrod; */
  text-align: center;
}
header h1 {
  font-size: 4rem;
  margin-bottom: 0;
}
header h2 {
  margin-top: 0;
}

#scoreboard-container {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  background-color: #e7e7e7;
  border-radius: .5rem;
}

.scoreboard-item {
  /* background-color: goldenrod; */
  width: 33%;
  height: 50px;
  position: relative;
  border: 1px solid red;
}

.scoreboard-item p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

#box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background: linear-gradient(to bottom right, #00c7ac, #9e63c8);
  padding: 0;
  border-radius: .5rem;
}

.card {
  flex-grow: 1;
  background-color: #202f3a;
  color: white;
  list-style: none;
  margin: 2%;
  width: 18%;
  padding-top: 18%;
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
}

.card div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  text-align: center;
}

.card .front {
  visibility: visible;
}

.card .back {
  visibility: hidden;
  background-color: blue;
}






footer {
  margin-top: 3rem;
  padding: 4rem;
  color: white;
  background-color: grey;
  text-align: center;
}

/* ========== DESKTOP  ========== */







/* ========== TABLET  ========== */






/* ========== MOBILE  ========== */
